.serviceDetailPage {
  max-width: 90%;
  margin: auto;
  margin-top: 100px;
}

.serviceDetail-mainHeadingDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serviceDetail-mainHeadingDiv-content-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: #04060d;
}

.serviceDetail-mainHeadingDiv-content-subHeading {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #04060d;
}

.serviceDetail-section {
  margin-top: 100px;
}

.serviceDetail-section-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 31px;
}

.serviceDetail-section-flex-content-subHeading {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #312259;
}

.serviceDetail-section-flex-content-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #04060d;
}

.serviceDetail-section-flex-content-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #787878;
}

.serviceDetail-section-flex-bullet {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #787878;
}

.serviceDetail-section-flex-bullet i {
  color: #312259;
  font-weight: 700;
}

.serviceDetail-section-flex-content-btn {
  background-color: #312259;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.serviceDetail-section-flex-content-btn:hover {
  background-color: white;
  border: 1px solid #312259;
  color: #312259;
}

.serviceDetail-section-testimonials {
  /* max-width: 100%; */
  margin-top: 100px;
  text-align: center;
}

.serviceDetail-section-testimonials-subHeading {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #312259;
}

.serviceDetail-section-testimonials-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #04060d;
}

.serviceDetail-section-testimonials-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
