.footer {
  background-color: #312259;
  color: #fff;
  font-size: 14px;

  display: flex;
}
.footer-content {
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 20px;
}

.footer li {
  list-style: none;
}
.social {
  flex-direction: row;
  display: flex;
  gap: 20px;
}
.pages ul {
  margin-top: 5px;
  margin-left: -40px;
}
.pages li {
  margin-top: 8px;
}
.subscribe {
  display: flex;
}
.subscribe input {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
}
.subscribe button {
  font-size: 14px;

  height: 40px;
  width: 123px;
  border-radius: 20px;
  border: none;

  background-color: #66d1ff;
  color: aliceblue;
}
